$color-dark: #382C23;
$color-borders-block: $color-dark;
$color-borders-inputs: #CCC0B3;
$color-green: #7ca142;
$color-font-dark: #191301;
$color-font-grey: #666666;
$color-font-grey-soft: #999999;
$color-font-orange: #FFA03A;
$site-width: 1200px;

@font-face {
  font-family: Oswald-Regular;
  src: url('../images/oswald/Oswald-Regular-webfont.eot');
  src: url('../images/oswald/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../images/oswald/Oswald-Regular-webfont.woff') format('woff'),
  url('../images/oswald/Oswald-Regular-webfont.ttf') format('truetype'),
  url('../images/oswald/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
}
@font-face {
  font-family: Oswald-Bold;
  src: local("Oswald-Bold"),
  url('../images/oswald/Oswald-Bold-webfont.eot#') format('eot'),
  url('../images/oswald/Oswald-Bold-webfont.woff') format('woff'),
  url('../images/oswald/Oswald-Bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Oswald-Light;
  src: local("Oswald-Light"),
  url('../images/oswald/Oswald-Light-webfont.eot#') format('eot'),
  url('../images/oswald/Oswald-Light-webfont.woff') format('woff'),
  url('../images/oswald/Oswald-Light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Oswald-Stencil;
  src: local("Oswald-Stencil"),
  url('../images/oswald/Oswald-Stencil-webfont.eot#') format('eot'),
  url('../images/oswald/Oswald-Stencil-webfont.woff') format('woff'),
  url('../images/oswald/Oswald-Stencil-webfont.ttf') format('truetype');
}

/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; min-width: $site-width; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul
  ,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; width: 100%; }
a                              { text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }


@mixin border-input{
  border: 1px solid $color-borders-inputs;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

@mixin input-standart{
  @include border-input;
  background-color: #fff;
  padding: 7px;
  width: 184px;
  margin-bottom: 10px;
  color: #40362B;
}

@mixin white-filter-button-without-hover($btnWidth : 198px){
  @include border-input;
  font: 12px Arial;
  color: #3F352B;
  display: block;
  padding: 7px 0;
  width: $btnWidth;
  text-align: center;
  background: url("../images/add-more-bg.jpg") bottom left repeat-x;
  text-transform: uppercase;
  margin: 0 auto 10px;
}
@mixin white-filter-button($btnWidth : 198px){
  @include white-filter-button-without-hover($btnWidth);

  &:hover{
    text-decoration: none;
    background: url("../images/button-hover-bg.jpg") bottom left repeat-x;
  }
}

@mixin white-block{
  border: 1px solid #CCC0B3;
  background-color: #f4f3f1;
  overflow: hidden;
}

.block-h3{
  font: 16px Oswald-Regular;
  color: #ffffff;
  padding: 7px 0 7px 8px;
  border-bottom: 3px solid $color-green;
  background-color: $color-dark;
  margin-bottom: 10px;
}

#wrapper{
  min-width: $site-width;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  height: auto;
  background: url('../images/wrapper_bg.jpg') top left repeat;

  #main-content {
    width: 100%;
    overflow: hidden;
    min-height: 100%;

    .div-container {
      max-width: $site-width;
      min-width: $site-width;
      margin: 0 auto;
      padding-bottom: 137px;
      overflow: hidden;

    }
  }
}

.facebook-refresh {
  background: url("../images/facebook-bg.jpg") left center no-repeat;
  overflow: hidden;
  margin: 10px 30px -20px 30px;
  padding-left: 25px;
  float: right;
  position: relative;
  top: 15px;

  .message {
    color: red;
    float: left;
    font: 11px Arial;
    padding: 9px 0;
    text-align: right;
    text-transform: uppercase;
    width: 400px;
  }
  .refresh-button {
    float: left;
    margin-left: 10px;

    a {
      @include white-filter-button-without-hover(100px);
      font: 12px/12px Tahoma;
    }
  }

}

#header{
  width: 100%;
  height: 87px;
  border-bottom: 3px solid $color-green;
  background-color: $color-dark;
  .div-container{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-bottom: 137px;
    overflow: hidden;

    .logo{
      width: 167px;
      height: 65px;
      margin-left: 32px;
      margin-top: 11px;
      float: left;

      a{
        img{
          border: none;
        }
      }
    }
  }
}

.header-menu{
  margin: 60px auto 0;

  #menu{
    width: 400px;
    margin: 0 auto;

    li{
      float: left;
      background-color: #ccc;
      margin-right: 1px;
      height: 26px;
      border-top: 1px solid #E6E6E6;

      &:hover{
        background-color: #E1E0DB;
        height: 29px;
      }

      a{
        font-family: Oswald-Regular;
        font-size: 14px;
        color: #000;
        line-height: 14px;
        padding: 5px 15px;
        display: block;
        text-shadow: 0px -1px 0px #ffffff;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

/* user menu */

.user-menu{
  float: right;
  font: 12px Arial;
  color: #fff;
  position: relative;
  max-width: 270px;
  margin: 17px 20px 0 0;


}
.user-menu-username{
  float: right;
  overflow: hidden;
  background: url('../images/user-menu-point.jpg') right top no-repeat;
  padding:0 27px 0 0px;
  margin: 10px 10px 0 0;
  text-align: right;
}
.user-menu-avatar{
  float: right;
}
.sub-menu{
  background-color: #F5F3F1;
  position: absolute;
  bottom: -105px;
  width: 100%;
  z-index: 10;
  left: -1px;
  display: none;
  border: 1px solid #CCC0B3;
  border-top: none;
}
.sub-menu-admin{
  background-color: #F5F3F1;
  position: absolute;
  bottom: -145px;
  width: 100%;
  z-index: 10;
  left: -1px;
  display: none;
  border: 1px solid #CCC0B3;
  border-top: none;
}
.sub-menu-links{
  border-top: 1px solid #CCC0B3;
  margin:0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub-menu a, .sub-menu-admin a{
  display: block;
  text-align: center;
  font: 12px Arial;
  color: #382C22;
  padding: 15px 0;
  line-height: 12px;
}
.sub-menu a:hover, .sub-menu-admin a:hover{
  background-color: $color-borders-block;
  color: #ffffff;
  text-decoration: none;
}
.login-form{
  float: right;
  padding: 25px 25px 0 0;
}
.user-info{
  /*overflow: hidden;*/
  padding: 10px;
  position: relative;
  float: right;
  height: 34px;
  text-align: right;

  border-top: 1px solid $color-borders-block;
  border-left: 1px solid $color-borders-block;
  border-right: 1px solid $color-borders-block;
}

/* user menu end */




.avatar, .company-logo {
  padding: 1px;
  background-color: #ffffff;
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 1px;
}

.dark-tr td, .light-tr td {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 75px;
}


@import 'right_social';

#footer{
  width: 100%;
  height: 137px;
  background: $color-dark;
  overflow: hidden;
  position: absolute;
  bottom: 0px;

  .div-container {
    max-width: $site-width;
    min-width: $site-width;
    margin: 0 auto;
    padding-bottom: 137px;
    overflow: hidden;

    .footer-menu {
      width: 310px;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0 0 0;

      .footer-menu-items {
        overflow: hidden;

        li {
          float: left;
          padding: 0 7px;

          a {
            font: 12px Arial;
            color: $color-font-orange;
          }
        }
      }
    }

    .copyright {
      padding-top: 15px;
      font: 11px Arial;
      color: #DDD3CC;
    }

  }
}

@import 'connect';





