// Place all the styles related to the Connect controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.connect-content {
  margin: 30px;
  overflow: visible;

  h2{
    font: 24px Oswald-Regular;
    color: $color-font-dark;
    margin-left: 10px;
  }
}

.search-button, #invite-member, #new-member{
  @include white-filter-button;
}

#filter {
  width: 220px;
  float: left;
  margin-right: 10px;
  margin-top: 20px;

  h3{
    @extend .block-h3;
  }

  .filter-block {
    border: 1px solid #CCC0B3;
    background-color: #F5F3F1;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    width: 200px;

    .member-filter{
      background: url('../images/member-filter-sep.jpg') top left no-repeat;
      width: 100%;
      padding-top: 10px;

      input[type="text"] {
        @include input-standart;
      }
    }

    a{
      @include white-filter-button;
    }
  }
}


#content{
  @include white-block;
  margin-top: 20px;

  #select-view{
    background-color: #CCCCCC;
    margin: 10px;
    height: 32px;

    .connect-select-view-span{
      font: 14px/32px Oswald-Regular;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 0 5px;
    }
    span{
      @extend .connect-select-view-span;
      color: $color-font-dark;
    }

    a{
      @extend .connect-select-view-span;
      color: $color-green;
    }
    .delimeter {
      width: 1px;
      height: 22px;
      display: inline-block;
      background-color: $color-font-dark;
      position: relative;
      top: 5px;
    }

    form{
      float: right;
      select{
        @include border-input;
        padding: 2px;
        width: 140px;
        color: $color-dark;
        background-color: #ffffff;
        margin: 5px;
      }
    }
  }

  #users{
    .title-checkbox{
      padding-left: 49px;
      width: 15px;
    }
    .titles{
      height: 40px;
      a{
        color: $color-green;
        background: url('../images/sorting-arrows.jpg') right center no-repeat;
        padding-right: 10px;
      }
    }
    .user-checkbox-div {
      position: relative;
      width: 34px;
      height: 34px;
      margin: 0 15px 0 20px;

      .user_checkbox {
        position: absolute;
        bottom: -10px;
        right: -10px;
      }
    }
    .user_name{
      a {
        color: $color-font-orange;
        font: bold 14px Tahoma;
      }
    }
    .position{
      color: $color-font-grey;
      font: 12px Arial;
    }
    .user-email a{
      color: $color-green;
      font: 12px Tahoma;
    }
    .founding_member{
      font-weight: bold;
    }

    .user-company{
      a {
        color: $color-font-orange;
      }
    }

    .user-city, .user-state {
      color:  $color-font-grey;
      font: 12px Arial;
    }

    .user-status {
      padding-right: 5px;
      width: 88px;

      a{
        @include white-filter-button-without-hover(80px);
        padding: 6px 0 7px 0;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .connect-bottom-panel{
      height: 75px;
      #group_action{
        @include input-standart;
        margin: 20px;
      }
    }
    .pagination{
      float: right;
      margin: 20px;

      & a, & ul li ,& .page_selector, & .next-page, & .unactive{
        margin-top: 8px;
        margin-left: 8px;
      }

      & .page, & .prev-page{
        color: $color-green;
      }
      & .next-page , & .unactive{
        color: $color-font-grey;
      }

      & .next-page , & .prev-page{
        text-decoration: underline;
      }

      .page_selector{
        @include input-standart;
        width: auto;
      }
    }
  }
}
